*{
	--common:#a67ecf;
}

body{
	font-family: tahoma
}
.navbar-light .navbar-brand{
	color: var(--common);
	font-weight: bold;

}
.navbar-light{
	height: 70px;
}
.navbar-light .navbar-brand:hover
{
		color: var(--common);

}
.navbar-light .navbar-nav .nav-link:hover{
color: #a67ecf;

}
.navbar-light .navbar-nav .nav-link{
	font-size: 15px;
text-transform: uppercase;
}

.about{
	width: 100%;
	height:auto;
	padding: 50px 0 ;
	color: #888;
}

.narrow  h1{
	font-size: 25px;
	color: var(--common);
	font-weight: bold;
	margin-bottom: 2%;

}


.narrow  p{

	color: #888;
	line-height:1.8;

}

.about img{
	width: 100%;
	height: 100%;
}
.divide{
	height: 29%;
	margin-bottom: 1%;
}
.img{
	background-image: url(../images/work-1.jpg)  ;
	height: 100%;
	background-size: cover;
	position: relative;
}
.img p  {
	position: absolute;
	bottom: 0;
	color: #DDD;
	background: rgba(0,0,0,0.5);
	padding: 30px;
	margin: 0;
	font-size: 20px;

}

.service{
	width: 100%;
	height: 400px;
	background: url('../images/intro.jpg') no-repeat;
	background-attachment: fixed;

}

.service p{
	font-size:  20px;
	border: 2px solid white;
	color: white;
	padding: 15px;
	font-weight: 20px;
	display: inline-block;
	text-transform: uppercase;

}
.products{
	width: 100%;
	height: auto;
	padding: 50px 0 ;
}

.products img{
	width: 100%;
	margin-bottom: 2%;
}

.info{
	width: 100%;
	height: auto;
	padding: 80px 0 ;

}

.info h2 {
	color: var(--common);
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

footer{
	width: 100%;
	height: auto;
	padding: 20px 0 ;
}
footer p{
 	font-size: 18px;
 	color: #888;
}
footer i {
	padding: 10px;
	color: white;
	background-color: #999;
	border-radius: 50%;
	cursor: pointer;
}